.container{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.container label{
    text-align: right;
    color: #444;
    margin: 10px 0px 10px;
}

.container textarea{
    width: 100%;
    min-height: 150px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 5px;
}