#container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  direction: rtl;
}

#container h3 {
  margin: 10px 0px 20px;
}

.button {
  margin-bottom: 20px;
}

.button button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(56, 102, 187);
  cursor: pointer;
}

.button button:active {
  padding: 9px;
  background-color: rgb(29, 72, 153);
}
