.container {
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country {
  margin-top: 20px;
  width: 500px;
  height: 500px;
}
